.header-con {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #131313;
  margin-top: 0px;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .header-con {
    display: flex;
    flex-direction: column;
    width: 100vw;
    float: inline-end;
    background-color: #131313;
    opacity: 0.8;
  }
}

.nav-container {
  display: flex;
  width: 100%;
  height: 75px;
  opacity: 0.20000000298023224px;
  background-color: transparent;
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (min-width: 768px) {
  .nav-container {
    width: 100%;
    height: 103px;
    opacity: 0.20000000298023224px;
    padding-left: 165px;
    padding-right: 165px;
    background-color: transparent;
  }
}
.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
}

.fst-nav-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  width: auto;
}
@media screen and (min-width: 768px) {
  .fst-nav-con {
    width: auto;
  }
}
.sec-nav-con {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}
@media screen and (min-width: 768px) {
  .sec-nav-con {
    width: auto;
    justify-content: flex-end;
    align-items: center;
  }
}

.img {
  width: 100px;
  height: 27px;
  padding: 0px 0px 0.000049740076065063477px 0px;
  margin-right: 10px;
}
.Home-header {
  display: none;
}
.popular-header {
  display: none;
}
.search-ion {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-color: transparent;
  color: white;
  border: none;
  align-self: flex-end;
}

.profile-img {
  width: 24px;
  height: 24px;
  display: none;
}
.menu-btn {
  font-size: 24px;
  color: white;
  background-color: transparent;
  border: none;
  font: 24px;
  margin-left: 10px;
}
.input-search {
  min-width: 80%;
  background-color: transparent;
  color: white;
  font-size: 10px;
  font-family: 'Roboto';
  border: none;
  outline: none;
}
.search-input {
  display: flex;
  width: 114px;
  padding: 4px 10px 4px 8px;
  align-items: flex-start;

  border-radius: 4px;
  border: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .img {
    width: 135.00051879882812px;
    height: 39px;
    padding: 0px 0px 0.000041961669921875px 0px;
    margin-right: 70px;
  }
  .search-input {
    display: flex;
    padding: 8px 16px;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--light-blue-gray-50, #f8fafc);
    width: 264px;
    height: 40.01px;
  }
  .Home-header {
    display: block;
    font-family: HK Grotesk;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.35555556416511536px;
    text-align: left;
    color: white;
    margin-right: 50px;
    text-decoration: none;
  }
  .popular-header {
    display: block;
    font-family: HK Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.35555556416511536px;
    text-align: left;
    color: white;
    margin-right: 50px;
    text-decoration: none;
  }
  .profile-img {
    width: 48px;
    height: 48px;
    display: block;
    border: none;
    background-color: transparent;
    margin-left: 12px;
  }
  .menu-btn {
    display: none;
  }
  .input-search {
    width: Hug (264px);
    height: Fixed (40px);

    background-color: transparent;

    font-size: 12px;
    font-family: 'Roboto';
    outline: none;
    border: none;
    padding: 8px 16px 8px 16px;

    /*
    color: white;
     border-style: solid;
     border-radius: 4px;
     border: 1px;
     border-color: #f8fafc; 
      padding: 8px 16px 8px 16px; */
  }
}
.drop-down {
  display: flex;
}

.Home-head {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.35555556416511536px;
  text-align: left;
  color: white;
}
.popular-head {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.35555556416511536px;
  text-align: left;
  color: white;
}
.btn-cross {
  flex-shrink: 0;
  background-color: transparent;
  border: none;
}

.open {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: transparent;
  list-style-type: none;
  text-decoration: none;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 18px;
  border-style: none;
}
.close {
  display: none;
}
.search-btn {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
